.container {
  max-width: 80%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.imgContainer {
  position: relative;
}

.img {
  height: fit-content;
}

.faceBorder {
  position: absolute;
  border: 2px solid #fff;
}
